<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>トップ</title>
  <link rel="stylesheet" type="text/html" href="/css/style.css">
  <script src="/send_url.js" type="text/html"></script>

  <!-- ejsファイルにthree.jsライブラリを追加する -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.135.0/examples/js/controls/OrbitControls.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/19.0.0/tween.umd.js"></script>

  <!-- js側を読み込む -->
  <script src="/js/viewer_front.js" type="module"></script>

</head>

<!-- ビューアーエリア -->

<body id="viewer_front" style="margin: 0;">
  <img id="turn_buck_icon" src="/icons/turn_buck.png" alt="戻る" style="
  position: absolute;
  float: right;
  top: 15px;
  right:15px;
  display: none;
  ">
</body>

</html>
